#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.22);
    padding: 3rem;
}

#footer p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

